[run]
source = src
omit =
    src/manage.py
    src/config_django/*
    */apps.py
    */models.py
    */urls.py
    */containers.py
    */migrations/*
    models.py
    __init__.py
    app.py

[report]
exclude_lines =
    pragma: no cover
    @abstractmethod
    pass
    raise NotImplementedError
