[run]
source = src
omit =
    src/manage.py
    src/config_django/*
    src/*/apps.py
    src/*/models.py
    src/*/urls.py
    src/*/infrastructure/django/views/*
    models.py
    __init__.py
    app.py

[report]
exclude_lines =
    pragma: no cover
    @abstractmethod
    pass
    raise NotImplementedError
